<div class="bg-main">
  <h2 class="profile__title">EVENT PROFILE</h2>

  <div class="event-profile">
    <img src="~/assets/images/profile/plasticsrubber.png" alt="event profile" />

    <div>
      <p>Taiwan's machinery and equipment industries rank fifth in global exports. It shows that Taiwan can provide total solutions and be the key partner to world-class electric vehicle manufacturers.</p>
      <p>Taiwan Smart Manufacturing - Plastics & Rubber Pavilion will officially open on November 30th.</p>
    </div>
  </div>
</div>
