<h2>Exhibitor List</h2>

<div class="logos">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/1.png" />
    </div>
    <div class="logos-item-text">Asian Plastic Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/2.png" />
    </div>
    <div class="logos-item-text">Chuan Lih Fa Machinery Works Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/3.png" />
    </div>
    <div class="logos-item-text">Fu Chun Shin Machinery Manufacture Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/4.png" />
    </div>
    <div class="logos-item-text">Huarong Plastic  Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/5.png" />
    </div>
    <div class="logos-item-text">Jon Wai Machinery Works Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/6.png" />
    </div>
    <div class="logos-item-text">Lien Fa Injection Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/7.png" />
    </div>
    <div class="logos-item-text">LIEN YU MACHINERY CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/8.png" />
    </div>
    <div class="logos-item-text">L.K. Machinery Corp.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/9.png" />
    </div>
    <div class="logos-item-text">Vertical Low Base 2-Platen Injection Molding Machines</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/plasticsrubber/10.png" />
    </div>
    <div class="logos-item-text">Shine Well Machinery Co., Ltd.</div>
  </div>

  <div class="logos-item"></div>
  <div class="logos-item"></div>
</div>
