@import "./size";

.banner {
  position: relative;
  min-height: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 6%;
  background-color: #42210b;
  border: none;
  overflow: hidden;

  & > img {
    width: 100%;
    border: none;
    filter: drop-shadow(0 25px 30px rgba(0, 0, 0, 0.5));
  }
}

.banner-icons {
  position: absolute;
  left: 0;
  right: 0;
  top: 54vw;
  bottom: 6vw;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #3A1E10;
  opacity: 0.5;

  @media (min-width: $screen-md) {
    top: 50vw;
  }

  @media (min-width: $screen-max) {
    top: 60%;
    bottom: 6%;
  }

  li {
    display: flex;
    align-items: center;
    margin: 0 10px;

    @media (min-width: $screen-md) {
      margin: 0;

      &:last-child {
        margin: 0 -5% 0 0;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;

    @media (min-width: $screen-md) {
      width: 60px;
      height: 60px;
    }

    @media (min-width: $screen-lg) {
      width: 90px;
      height: 90px;
    }
  }

  p {
    display: none;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;

    @media (min-width: $screen-md) {
      display: block;
      margin: 0 15px 0 0;
      padding: 0 15px 0 0;
    }

    @media (min-width: $screen-lg) {
      margin: 0 20px 0 0;
      padding: 0 20px 0 0;
    }
  }
}



.counter {
  position: absolute;
  top: 5%;
  right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 220px;
  padding: 10px 15px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;

  @media (min-width: $screen-md) {
    top: 120px;
    right: 5%;
    width: 50%;
    padding: 30px 15px;
    font-size: 1rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 0 5px;

    @media (min-width: $screen-md) {
      width: 25%;
      padding: 0 10px;

      + div {
        border-left: 1px solid;
      }
    }

    div {
      font-size: 2em;

      @media (min-width: $screen-md) {
        font-size: 3em;
      }
    }
  }

  a {
    position: absolute;
    top: 120%;
    left: 10%;
    align-self: flex-start;

    @media (min-width: $screen-md) {
      position: static;
      align-self: center;
    }
  }

  img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
