@import "./size";

.banner {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    max-width: 1920px;
    height: 72vw;
    max-height: 1100px;
    margin: 0 auto;
    border: none;
    object-fit: cover;
    object-position: center bottom;

    @media (min-width: $screen-md) {
      height: 65vw;
    }

    @media (min-width: $screen-lg) {
      height: 60vw;
    }

    @media (min-width: $screen-xl) {
      height: 65vw;
    }
  }
}
