@import "./size";

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px;
  background-color: #42210b;
  border: none;
  overflow: hidden;

  & > img {
    width: 100%;
    border: none;
    filter: drop-shadow(0 25px 30px rgba(0, 0, 0, 0.5));
  }
}



.counter {
  position: absolute;
  top: 120px;
  right: 5%;
  display: none;
  justify-content: center;
  width: 50%;
  padding: 30px 15px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;

  @media (min-width: $screen-md) {
    display: flex;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 0 5px;

    @media (min-width: $screen-md) {
      width: 25%;
      padding: 0 10px;

      + div {
        border-left: 1px solid;
      }
    }

    div {
      font-size: 2em;

      @media (min-width: $screen-md) {
        font-size: 3em;
      }
    }
  }

  a {
    position: absolute;
    top: 120%;
    left: 10%;
    align-self: flex-start;

    @media (min-width: $screen-md) {
      position: static;
      align-self: center;
    }
  }

  img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;

    @media (min-width: $screen-lg) {
      width: 80px;
      height: 80px;
    }
  }
}
