.conference-program {
  position: relative;
  margin: 30px 0;

  @media (min-width: $screen-md) {
    margin: 30px 0 80px;
  }

  .title {
    padding: 10% 0 6% 8%;
    color: #fff;
    font-size: 3rem;
    background-color: #3a1e10;

    @media (min-width: $screen-md) {
      width: 48%;
      padding: 8% 5% 300px;
    }
  }
}

.program-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 8%;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  background: #c69c6d;

  @media (min-width: $screen-md) {
    padding: 20px 5%;
    justify-content: space-between;
  }

  .program-date {
    font-size: 1.5rem;
  }

  .program-timezone {
    font-size: 1rem;
  }
}

.program {
  font-weight: 400;
  line-height: 1.3;

  @media (min-width: $screen-md) {
    width: 82%;
    margin: -250px auto 0;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 8%;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
      padding: 20px 5%;
      justify-content: space-between;
    }

    &:nth-child(odd) {
      background: #fff;
    }

    &:nth-child(even) {
      background: #F5F3F6;
    }
  }
}


.program-information {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 90%;
  // padding: 0 20px;
}

.program-time {
  color: #803007;
}

.program-title {
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 600;
}

.program-logo {
  flex-shrink: 0;
  max-width: 200px;
  max-height: 50px;
  margin: 20px 0 5px auto;
  object-fit: contain;

  @media (min-width: $screen-md) {
    width: 20%;
    max-width: 240px;
    max-height: 80%;
    margin: 0 0 0 10%;
  }
}
