.events__title {
  margin: 0;
  color: var(--white);
}

.event {
  padding: 0 0 20px;
  color: var(--white);
  font-size: 1.2rem;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 90%;

  @media (min-width: $screen-md) {
    padding: 0 0 50px;
  }

  @media (min-width: $screen-xl) {
    padding: 0 0 120px;
    background-size: 600px;
  }

  &.robotic {
    background-image: url("~/assets/images/events/bg-robotic.png");
  }

  &.woodworking {
    background-image: url("~/assets/images/events/bg-woodworking.png");
  }

  &.machinetool {
    background-image: url("~/assets/images/events/bg-machinetool.png");
  }

  &.plasticsrubber {
    background-image: url("~/assets/images/events/bg-plasticsrubber.png");
  }
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  margin: 30px auto 0;

  @media (min-width: $screen-md) {
    justify-content: space-between;
    max-width: 600px;
    margin: 70px auto 0;
  }

  @media (min-width: $screen-xl) {
    max-width: 1200px;
  }

  & > li {
    text-align: center;
    width: 90%;
    padding: 20px 0 0;
    margin: 0 7px 40px;

    @media (min-width: 375px) {
      max-width: 160px;
      white-space: nowrap;
    }

    @media (min-width: $screen-md) {
      max-width: 280px;
      margin: 0 10px 60px;
    }
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: contain;

    @media (min-width: $screen-md) {
      width: 130px;
      height: 130px;
    }
  }

  a {
    display: block;
    width: 120px;
    height: 35px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 35px;
    border-radius: 10em;

    @media (min-width: $screen-md) {
      width: 240px;
      height: 56px;
      font-size: 26px;
      line-height: 56px;
    }
  }
}

.event-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 15px;
  font-size: 13px;
  font-weight: 300;

  @media (min-width: $screen-md) {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
  }
}
