@import "./size";

.events {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 1.2rem;
  background: #42210b url("~/assets/images/events-bg.png") right bottom no-repeat;
  background-size: 80%;

  @media (min-width: $screen-md) {
    padding-top: 30px;
  }

  .title {
    text-align: center;
  }
}

.progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto 0;
  padding-bottom: 40px;

  @media (min-width: $screen-md) {
    width: 600px;
  }

  @media (min-width: $screen-xl) {
    width: 1200px;
  }

  & > li {
    text-align: center;
    width: 200px;
    padding: 20px 0 0;
    margin: 0 10px 40px;

    @media (min-width: $screen-md) {
      margin: 0 10px 60px;
    }
  }

  img {
    width: 100px;
    height: 100px;

    @media (min-width: $screen-md) {
      width: 130px;
      height: 130px;
    }
  }

  .progress-name {
    margin: 20px 0;
    color: #c69c6d;
    font-weight: 500;
    white-space: nowrap;
  }

  .progress-information {
    margin: 0;
    font-size: 0.8em;
  }
}
