.logos {
  background: #fff;
  width: 100%;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 392px);
  grid-gap: 1rem;
  justify-content: space-between;
}

.logos-item {
  width: 392px;
  margin-top: 24px;
}

.logos-item-image {
  background: #f9f9f9;
  width: 392px;
  height: 311px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    max-width: 100%;
  }
}

.logos-item-text {
  color: #222222;
  padding: 12px 0;
  font-size: 1.5rem;
  text-align: center;
}
