.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 1670px;
  margin: 0 auto 50px;
  color: #222;
  text-align: center;

  @media (min-width: $screen-md) {
    width: 90%;
  }
}

.logos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 45%;
  margin: 0 5px;

  @media (min-width: $screen-md) {
    width: 25%;
  }

  @media (min-width: $screen-lg) {
    width: 20%;
    margin: 20px 10px;
  }
}

.logos-item-image {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 80%;
  background: #f9f9f9;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10%;
    object-fit: contain;
  }
}

.logos-item-text {
  height: 3em;
  margin: 10px 0 0;
  font-size: 1.1rem;
  line-height: 1.5em;
}
