.press-conference {
  margin: 50px 0;

  .title {
    color: #754C24;
    text-align: center;
    padding: 2rem 0;
  }
}

.press-conference-content {
  background: #F5F3F6;
  width: 100%;
  margin: 0 auto;
  padding: 10%;

  @media (min-width: $screen-md) {
    width: 84%;
    padding: 30px 40px 60px;
    text-align: justify;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 60px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 80px;
  }

  .subtitle {
    color: #C69C6D;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 10px auto 20px;

    p {
      margin: 0;
    }
  }

  .description {
    font-size: 1.2rem;
  }
}
