.speakers {
  display: flex;
  margin: 0 0 90px;
  color: var(--white);
  overflow-x: auto;

  @media (min-width: 1189px) {
    justify-content: center;
  }

  &::before,
  &::after {
    @media (min-width: $screen-md) {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 11%;
    }
    @media (min-width: 1189px) {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    flex-shrink: 0;
    position: relative;
    width: 225px;

    &:not(:first-child) {
      margin: 0 0 0 16px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px 20px;
      font-size: 0.5rem;
      background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 25%),
        linear-gradient(to top, var(--black) 0%, rgba(0, 0, 0, 0) 33.3%);
    }
    &.woodworking::before { content: "Woodworking Show Speaker"; }
    &.machinetool::before { content: "Machine Tool Show Speaker"; }
    &.robot::before { content: "Robot Show Speaker"; }
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.speaker-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 15px;
}

.speaker-name {
  font-size: 22px;
}

.speaker-team {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
}
