.speaker {
  margin: 50px 0 80px;

  .title {
    color: #754c24;
    text-align: center;
    padding: 2rem 0;
  }
}

.speakers {
  display: flex;
  width: 100%;
  overflow-y: auto;
  padding: 0 10%;
  color: #fff;

  li {
    flex-shrink: 0;
    position: relative;
    width: 60%;
    max-width: 509px;
    margin: 0 15px;

    @media (min-width: $screen-md) {
      width: 40%;
    }

    &::before {
      content: "Woodworking Show Speaker";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 8%;
      font-size: 0.5rem;
      text-shadow: 0 0 5px #555, 0 0 6px #555;

      @media (min-width: $screen-md) {
        padding: 5%;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.speaker-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 8% 6%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 80%);

  @media (min-width: $screen-md) {
    padding: 50px 5% 5%;
  }
}

.speaker-name {
  font-size: 1.5rem;
}

.speaker-team {
  font-size: 1rem;
}
