<div class="container">
  <div class="banner banner--index">
    <img src="~/assets/images/banner.png" alt="banner" />
    <ul class="banner-icons">
      <li>
        <img src="~/assets/images/icons/machinetool.png" alt="machinetool">
        <p>Machinetool</p>
      </li>
      <li>
        <img src="~/assets/images/icons/robot.png" alt="robot">
        <p>Robot</p>
      </li>
      <li>
        <img src="~/assets/images/icons/woodworking.png" alt="woodworking">
        <p>Woodworking</p>
      </li>
      <li>
        <img src="~/assets/images/icons/rubber.png" alt="rubber" style="margin: 0 10% 0 -5%">
        <p>Rubber</p>
      </li>
    </ul>

    <div class="counter">
      <div class="days">
        <div class="value">00</div>
        <span>Days</span>
      </div>

      <div class="hours">
        <div class="value">00</div>
        <span>Hours</span>
      </div>

      <div class="minutes">
        <div class="value">00</div>
        <span>Minutes</span>
      </div>

      <div>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=2021%20Taiwan%20Woodworking%20Show&amp;location=https://pavilion.twmt.tw/&amp;dates=20210923T000000.000Z%2F20210925T155900.000Z" target="_blank">
          <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/add.png" alt="" />
        </a>
      </div>
    </div>

  </div>
</div>
