<div class="container">
  <div class="banner banner--index">
    <img src="~/assets/images/banner.png" alt="banner" />
    <ul class="banner-icons">
      <li>
        <img src="~/assets/images/icons/machinetool.png" alt="machinetool">
        <p>Machinetool</p>
      </li>
      <li>
        <img src="~/assets/images/icons/robot.png" alt="robot">
        <p>Robot</p>
      </li>
      <li>
        <img src="~/assets/images/icons/woodworking.png" alt="woodworking">
        <p>Woodworking</p>
      </li>
      <li>
        <img src="~/assets/images/icons/rubber.png" alt="rubber" style="margin: 0 10% 0 -5%">
        <p>Rubber</p>
      </li>
    </ul>
  </div>
</div>
