<div class="banner banner--index">
  <img src="~/assets/images/banner.png" alt="banner" />
  <ul class="banner-icons">
    <li>
      <img src="~/assets/images/icons/machinetool.png" alt="machinetool">
      <p>Machinetool</p>
    </li>
    <li>
      <img src="~/assets/images/icons/robot.png" alt="robot">
      <p>Robot</p>
    </li>
    <li>
      <img src="~/assets/images/icons/woodworking.png" alt="woodworking">
      <p>Woodworking</p>
    </li>
    <li>
      <img src="~/assets/images/icons/rubber.png" alt="rubber">
      <p>Rubber</p>
    </li>
  </ul>
  <div class="nav">
    <a href="#event-profile">About</a>
    <a href="#conference-program">Webinar</a>
    <a href="#logos">Exhibit</a>
    <a href="#footer">Contact</a>
    <a href="https://twmt-hubspot.mutix.site/register">Register/Login</a>
  </div>
</div>
