<div id="conference-program" class="conference-program">
  <div class="title">Conference<br/>Program</div>
  <div class="program">
    <div class="program-header">
      <div class="program-date">September 23th, 2021</div>
      <div class="program-timezone">Time Zone : Taipei Time</div>
    </div>
    <ul>
      <li>
        <div class="program-information">
          <div class="program-time">14:00-14:10</div>
          <div class="program-title">Opening Remarks</div>
          <div class="program-description">Chairman of Taiwan Woodworking Machinery Association (Leadermac Machinery Co., Ltd.), Michael Chang</div>
        </div>
      </li>
      <li>
        <div class="program-information">
          <div class="program-time">14:10-14:40</div>
          <div class="program-title">Smart Manufacturing and Application of 4-Side Moulders</div>
          <div class="program-description">Leadermac Machinery Co., Ltd.</div>
        </div>
        <img class="program-logo" src="~/assets/images/logos/leadermac.png" />
      </li>
      <li>
        <div class="program-information">
          <div class="program-time">14:40-15:10</div>
          <div class="program-title">The ONLY Smart Veneer Faces Production Line Manufacturer in ASIA</div>
          <div class="program-description">General Manager of INNOVATOR Machinery Co., Ltd., Ian Chang</div>
        </div>
        <img class="program-logo" src="~/assets/images/logos/innovator.png" />
      </li>
      <li>
        <div class="program-information">
          <div class="program-time">15:10-15:40</div>
          <div class="program-title">New Business Opportunities-Manufacturing System For The Automation Of Woodworking Machinery</div>
          <div class="program-description">General Manager of Stirling International Co., Ltd., Cliff Chang</div>
        </div>
        <img class="program-logo" src="~/assets/images/logos/stirlinginternational.png" height="60" />
      </li>
      <li>
        <div class="program-information">
          <div class="program-time">15:40-16:40</div>
          <div class="program-title">Anderson-Smart Nesting Automated Solution</div>
          <div class="program-description">Business Services Manager of Anderson Industrial Corp., Shawn Teng</div>
        </div>
        <img class="program-logo" src="~/assets/images/logos/andersonindustrial.png" />
      </li>
    </ul>
  </div>
</div>
