<div class="bg-main">
  <div class="event-highlights">
    <div class="event-highlights__main">
      <h2>CURRENT<br />EVENT<br />HIGHLIGHTS</h2>
      <h3>Taiwan Woodworking Show</h3>

      <div class="description">
        <p><b>Webinar Highlights: </b>With a focus on smart solutions and machine applications, the webinar invites four representative companies to share the latest technology developments of Taiwan’s woodworking machinery industry from professional and marketing perspectives. Learn how to provide future business opportunities and resource integrations for your company.</p>
        <p><b>Exhibit Highlights: </b>The exhibit brings you into a virtual wood finished house built using the latest technologies of Taiwan’s top woodworking machinery companies. Explore how Taiwan can help from small furniture manufacturing and cabinetry to large wood materials processing such as beams, columns, wall panels, and construction materials.</p>
      </div>
    </div>

    <img src="~/assets/images/event-highlights.png" alt="" />
  </div>
</div>
