<div id="event-profile" class="event-profile">
  <div class="title">EVENT PROFILE</div>
  <img src="~/assets/images/event-profile-cover.png" alt="event profile" />
  <div class="description">
    <p>Taiwan Smart Manufacturing has supported the growth of Taiwan’s machine tools industry for many years providing solutions to numerous brands and production lines. In light of the on-going pandemic, together with our key partners, the 2021 TAIWAN SMART MANUFACTURING PAVILION will take place virtually.</p>
    <p>The PAVILION aims to offer a unique virtual experience of how Taiwan’s machine tools can be your intelligent partner from production to end-market application. The exhibit features the latest technology trends of four main industries: Robot, Woodworking, Machine Tools, and Plastics & Rubber.</p>
  </div>
</div>