<footer class="footer">
  <div class="footer-box">
    <div class="footer__main">
      <div class="footer__information">
        <div class="footer__links">
          <img src="~/assets/images/footer/logo.png" alt="logo" />

          <div class="footer__links__social">
            <a href="https://lihi1.com/KNUBV" target="_blank"><img src="~/assets/images/footer/icon-linkedin.png" alt="LinkedIn" /></a>
            <a href="https://lihi1.com/iLKVC" target="_blank"><img src="~/assets/images/footer/icon-facebook.png" alt="Facebook" /></a>
            <a href="https://lihi1.com/i6ygL" target="_blank"><img src="~/assets/images/footer/icon-youtube.png" alt="Youtube" /></a>
          </div>
        </div>

        <div class="footer__contact">
          <p>Contact Us</p>
          <p>Percision Machinery Research & Development Center</p>
          <p>No.27, 37th Road, Taichung Industrial Park, Taichung, Taiwan, R.O.C.</p>
          <p>E-mail PMC: service@mail.pmc.org.tw</p>
          <p>TEL: 886-4-23599009 Ext: 801</p>
          <p>FAX: 886-4-23598846</p>
        </div>
      </div>

      <hr />

      <div class="footer__groups">
        <img src="~/assets/images/footer/logo-1.png" alt="" />
        <img src="~/assets/images/footer/logo-2.png" alt="" />
        <img src="~/assets/images/footer/logo-3.png" alt="" />
      </div>
    </div>

    <img class="footer__bg" src="~/assets/images/footer/bg.png" alt="" />
  </div>
  <div class="footer__copyright">mutix Co., Ltd</div>
</footer>
