<div class="logos logos--index">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/andersonindustrial.png" />
    </div>
    <div class="logos-item-text">Anderson Industrial Corp.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/bluesteelmachinery.png" />
    </div>
    <div class="logos-item-text">Blue Steel Machinery CO.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/boarke.png" />
    </div>
    <div class="logos-item-text">Boarke Machine CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/chengkuangwood.png" />
    </div>
    <div class="logos-item-text">Cheng Kuang Wood Manchinery Works CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/chuanchire.png" />
    </div>
    <div class="logos-item-text">Chuan Chire Industrial CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/leadermac.png" />
    </div>
    <div class="logos-item-text">​Leadermac Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/innovator.png" />
    </div>
    <div class="logos-item-text">Innovator Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/kuangyung.png" />
    </div>
    <div class="logos-item-text">Kuang Yung Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/newrenyang.png" />
    </div>
    <div class="logos-item-text">New Ren Yang Enterprise CORP.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/oavequipmentand.png" />
    </div>
    <div class="logos-item-text">Oav Equipment And Tools, INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/tongfongcutters.png" />
    </div>
    <div class="logos-item-text">Tong Fong Cutters CO., LTD.</div>
  </div>
</div>
