<div class="tabs" data-active="1">
  <button class="tab" data-active="1">Caprentry</button>
  <button class="tab" data-active="2">Robot</button>
</div>

<div class="logos logos--index tab-content">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/andersonindustrial.png" />
    </div>
    <div class="logos-item-text">Anderson Industrial Corp.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/bluesteelmachinery.png" />
    </div>
    <div class="logos-item-text">Blue Steel Machinery CO.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/boarke.png" />
    </div>
    <div class="logos-item-text">Boarke Machine CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/chengkuangwood.png" />
    </div>
    <div class="logos-item-text">Cheng Kuang Wood Manchinery Works CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/chuanchire.png" />
    </div>
    <div class="logos-item-text">Chuan Chire Industrial CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/leadermac.png" />
    </div>
    <div class="logos-item-text">​Leadermac Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/innovator.png" />
    </div>
    <div class="logos-item-text">Innovator Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/kuangyung.png" />
    </div>
    <div class="logos-item-text">Kuang Yung Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/newrenyang.png" />
    </div>
    <div class="logos-item-text">New Ren Yang Enterprise CORP.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/oavequipmentand.png" />
    </div>
    <div class="logos-item-text">Oav Equipment And Tools, INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/tongfongcutters.png" />
    </div>
    <div class="logos-item-text">Tong Fong Cutters CO., LTD.</div>
  </div>
  <div class="logos-item"></div>
</div>

<div class="logos logos--index tab-content">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/1.png" />
    </div>
    <div class="logos-item-text">COMPAL ELECTRONICS, INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/2.png" />
    </div>
    <div class="logos-item-text">DFI INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/3.png" />
    </div>
    <div class="logos-item-text">DELTA ELECTRONICS, INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/4.png" />
    </div>
    <div class="logos-item-text">EVERMORE MACHINE CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/5.png" />
    </div>
    <div class="logos-item-text">HIWIN TECHNOLOGIES CORP.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/6.png" />
    </div>
    <div class="logos-item-text">​SYNTEC TECHNOLOY CO.,LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/7.png" />
    </div>
    <div class="logos-item-text">TAIWAN TACHYON ROBOT COMPANY</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/8.png" />
    </div>
    <div class="logos-item-text">TECO ELECTRIC & MACHINERY CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/9.png" />
    </div>
    <div class="logos-item-text">TECHMAN ROBOT INC</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/10.png" />
    </div>
    <div class="logos-item-text">WISTRON CORPORATION</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/Robot/11.png" />
    </div>
    <div class="logos-item-text">YING HAN TECHNOLOGY CO., LTD</div>
  </div>
  <div class="logos-item"></div>
</div>
