<div id="past-event-highlights" class="past-event-highlights">
  <div class="title">PAST EVENT<br />HIGHLIGHTS</div>
  <div class="description">
    <p><b>Taiwan Automation Intelligence and Robot Show</b></p>
    <p><b>Exhibit Highlights:</b><br />Through an interactive virtual factory, the exhibit connects you with top companies that provide robotics and AI solutions for industry needs such as mechanical equipment, industrial engineering, automobile maintenance, aerospace, and more.</p>
    <p><b>Webinar Highlights:</b><br />Taiwan’s top robotics industry representatives are invited to speak on future market developments and the latest technology trends. The webinar features in-depth discussions on smart manufacturing, applications of AI and IoV, and the future of the EV industry.</p>
  </div>
</div>
