<div id="press-conference" class="press-conference">
  <div class="title">Press Conference</div>
  <div class="press-conference-content">
    <div class="subtitle">
      <p>【2021 Online Webinar】</p>
      <p>Carving the Future - Business Opportunities in theWoodworking Machinery Industry</p>
    </div>
    <div class="description">
      <p>According to ITC (International Trade Centre), Taiwan's global exports of woodworking machinery in 2020 amounted to US$713 million, ranking 4th in the global exporting market. Even with the pandemic ravaging the world, Taiwan still achieved remarkable performance in the first two quarters of 2021, with an impressive growth of 35.79%. Under the global trend of smart machinery, with joint efforts from the industry and the government, Taiwan’s woodworking machinery industry has been transformed and upgraded, moving towards an intelligent industry as well as striving to meet market demands. Smart manufacturing has become an important key to maintain competitiveness in the post-pandemic era, and it is also expected to create a new height for Taiwan’s woodworking machinery exports.</p>
      <p>Focusing on exclusive technology applications and future business opportunities for international buyers, the webinar invites four representative companies to share the current development of smart technology in Taiwan’s woodworking machinery industry from professional and marketing perspectives to provide a better picture of the marketing advantages and resource integrations.</p>
    </div>
  </div>
</div>