<div class="speaker speaker--index">
  <div class="title">Speaker</div>

  <div class="tabs tabs--margin-bottom" data-active="1">
    <button class="tab" data-active="1">Caprentry</button>
    <button class="tab" data-active="2">Robot</button>
  </div>

  <ul class="speakers tab-content">
    <li class="woodworking" data-active="1">
      <img src="~/assets/images/speaker/alexzheng.png" />
      <div class="speaker-text">
        <div class="speaker-name">Alex Zheng</div>
        <div class="speaker-team">Leadermac Machinery Co., Ltd</div>
      </div>
    </li>
    <li class="woodworking" data-active="2">
      <img src="~/assets/images/speaker/ianchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Ian Chang</div>
        <div class="speaker-team">INNOVATOR Machinery Co., Ltd.</div>
      </div>
    </li>
    <li class="woodworking" data-active="3">
      <img src="~/assets/images/speaker/cliffchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Cliff Chang</div>
        <div class="speaker-team">SK Global (Stirling International) Co., Ltd.</div>
      </div>
    </li>
    <li class="woodworking" data-active="4">
      <img src="~/assets/images/speaker/shawnteng.png" />
      <div class="speaker-text">
        <div class="speaker-name">Shawn Teng</div>
        <div class="speaker-team">Anderson Industrial Corp.</div>
      </div>
    </li>
    <li class="woodworking">
      <img src="~/assets/images/speaker/michaelchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Michael</div>
        <div class="speaker-name">Chang</div>
      </div>
    </li>
  </ul>

  <ul class="speakers tab-content">
    <li class="robot" data-active="5">
      <img src="~/assets/images/speaker/Robot/1.png" />
      <div class="speaker-text">
        <div class="speaker-name">Wu Wen-Jia</div>
        <div class="speaker-team">Assistant President at HIWIN</div>
      </div>
    </li>
    <li class="robot" data-active="6">
      <img src="~/assets/images/speaker/Robot/2.png" />
      <div class="speaker-text">
        <div class="speaker-name">Jarry Chang</div>
        <div class="speaker-team">Chief Product Officer at DFI Inc.</div>
      </div>
    </li>
    <li class="robot" data-active="7">
      <img src="~/assets/images/speaker/Robot/3.png" />
      <div class="speaker-text">
        <div class="speaker-name">Scott Huang</div>
        <div class="speaker-team">Chief Operating Officer at</div>
        <div class="speaker-team">Techman Robot</div>
      </div>
    </li>
  </ul>
</div>

<div class="modal" id="speaker-modal" data-active="">
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/%E6%8A%95%E5%BD%B1%E7%89%871.png" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/%E6%8A%95%E5%BD%B1%E7%89%872.png" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/%E6%8A%95%E5%BD%B1%E7%89%873.png" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/%E6%8A%95%E5%BD%B1%E7%89%874.png" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/web-A-02.jpg" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/web-A-03.jpg" alt="" />
  <img src="https://f.hubspotusercontent20.net/hubfs/20672026/Others/webinars/web-A-04.jpg" alt="" />
</div>
