<div class="speaker speaker--index">
  <div class="title">Speaker</div>
  <ul class="speakers">
    <li>
      <img src="~/assets/images/speaker/alexzheng.png" />
      <div class="speaker-text">
        <div class="speaker-name">Alex Zheng</div>
        <div class="speaker-team">Leadermac Machinery Co., Ltd</div>
      </div>
    </li>
    <li>
      <img src="~/assets/images/speaker/ianchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Ian Chang</div>
        <div class="speaker-team">INNOVATOR Machinery Co., Ltd.</div>
      </div>
    </li>
    <li>
      <img src="~/assets/images/speaker/cliffchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Cliff Chang</div>
        <div class="speaker-team">SK Global (Stirling International) Co., Ltd.</div>
      </div>
    </li>
    <li>
      <img src="~/assets/images/speaker/shawnteng.png" />
      <div class="speaker-text">
        <div class="speaker-name">Shawn Teng</div>
        <div class="speaker-team">Anderson Industrial Corp.</div>
      </div>
    </li>
    <li>
      <img src="~/assets/images/speaker/michaelchang.png" />
      <div class="speaker-text">
        <div class="speaker-name">Michael</div>
        <div class="speaker-name">Chang</div>
      </div>
    </li>
  </ul>
</div>
