<div class="topbar" data-active="">
  <nav class="nav">
    <a class="nav__logo" href="/">
      <h1>TAIWAN SMART MANUFACTURING</h1>
    </a>

    <button class="nav__button" data-active="-"></button>

    <ul class="nav__list">
      <li>
        <span class="nav__link nav__link--main" data-active="1">Pavilion</span>
        <ul>
          <li><a class="nav__link nav__link--sub" href="/robotic">Robotic</a></li>
          <li><a class="nav__link nav__link--sub" href="/woodworking">Woodworking</a></li>
          <li><a class="nav__link nav__link--sub" href="/machinetool">Machine Tool</a></li>
          <li><a class="nav__link nav__link--sub">Plastics&Rubber</a></li>
        </ul>
      </li>
      <li>
        <span class="nav__link nav__link--main" data-active="2">Smart Factory</span>
        <ul>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/ev-car">EV Car</a></li>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/woodworks">Woodworks</a></li>
        </ul>
      </li>
      <li>
        <span class="nav__link nav__link--main" data-active="3">Webinars</span>
        <ul>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/robotic-webinars">Robotic</a></li>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/woodworking-webinars">Woodworking</a></li>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/machinetool-webinars">Machine Tool</a></li>
          <li><a class="nav__link nav__link--sub">Plastics&Rubber</a></li>
        </ul>
      </li>
      <li>
        <span class="nav__link nav__link--main" data-active="4">Exhibitor List</span>
        <ul>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/robotic-list">Robotic</a></li>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/woodworking-list">Woodworking</a></li>
          <li><a class="nav__link nav__link--sub" href="https://twmt-hubspot.mutix.site/machinetool-list">Machine Tool</a></li>
          <li><a class="nav__link nav__link--sub">Plastics&Rubber</a></li>
        </ul>
      </li>

      <li>
        <a class="nav__link nav__link--main" href="https://twmt-hubspot.mutix.site/info-desk">Info Desk</a>
      </li>
    </ul>
  </nav>
</div>
