<h2>Conference<br/>Program</h2>

<div class="conference-program">
  <div class="program__header bg-main">
    <div class="program__header__date">September 23rd, 2021</div>
    <div>Time Zone : Taipei Time</div>
  </div>

  <div class="program">
    <ul>
      <li>
        <p>14:00-14:10</p>
        <p>Opening Remarks</p>
        <p>Chairman of Taiwan Woodworking Machinery Association (Leadermac Machinery Co., Ltd.), Michael Chang</p>
      </li>
      <li>
        <p>14:10-14:40</p>
        <p>Smart Manufacturing and Application of 4-Side Moulders</p>
        <p>Senior Sales Executive of Leadermac Machinery Co., Ltd​, Alex Zheng</p>
        <img width="135" src="~/assets/images/logos/leadermac.png" />
      </li>
      <li>
        <p>14:40-15:10</p>
        <p>The ONLY Smart Veneer Faces Production Line Manufacturer in ASIA</p>
        <p>General Manager of INNOVATOR Machinery Co., Ltd., Ian Chang</p>
        <img width="151" src="~/assets/images/logos/innovator.png" />
      </li>
      <li>
        <p>15:10-15:40</p>
        <p>New Business Opportunities-Manufacturing System For The Automation Of Woodworking Machinery</p>
        <p>General Manager of SK Global Co., Ltd, Cliff Chang</p>
        <img width="110" src="~/assets/images/logos/stirlinginternational.png" height="60" />
      </li>
      <li>
        <p>15:40-16:40</p>
        <p>Anderson-Smart Nesting Automated Solution</p>
        <p>Business Services Manager of Anderson Industrial Corp., Shawn Teng</p>
        <img width="135" src="~/assets/images/logos/andersonindustrial.png" />
      </li>
    </ul>
  </div>
</div>
