<div class="event woodworking bg-dark">
  <h2 class="events__title">Events</h2>

  <ul class="events">
    <li>
      <img src="~/assets/images/events/1.png" />
      <p class="event-name">Taiwan<br />Automation Intelligence<br />and Robot Pavilion</p>
      <a class="bg-main" href="/robotic">Enter</a>
    </li>
    <li>
      <img src="~/assets/images/events/2.png" />
      <p class="event-name">Taiwan<br />Woodworking<br />Pavilion</p>
      <a class="bg-main" href="/woodworking">Enter</a>
    </li>
    <li>
      <img src="~/assets/images/events/3.png" />
      <p class="event-name">Taiwan<br />Machine Tool<br />Pavilion</p>
      <a class="bg-main" href="/machinetool">Enter</a>
    </li>
    <li>
      <img src="~/assets/images/events/4.png" />
      <p class="event-name">Taiwan <br />Plastics & Rubber<br />Industry Pavilion</p>
      <a class="bg-main" href="/plasticsrubber">Enter</a>
    </li>
  </ul>
</div>
