<h2>Speaker</h2>

<ul class="speakers">
  <li class="woodworking">
    <img src="~/assets/images/speaker/woodworking/1.png" />
    <div class="speaker-text">
      <div class="speaker-name">Alex Zheng</div>
      <div class="speaker-team">Leadermac Machinery Co., Ltd</div>
    </div>
  </li>
  <li class="woodworking">
    <img src="~/assets/images/speaker/woodworking/2.png" />
    <div class="speaker-text">
      <div class="speaker-name">Ian Chang</div>
      <div class="speaker-team">INNOVATOR Machinery Co., Ltd.</div>
    </div>
  </li>
  <li class="woodworking">
    <img src="~/assets/images/speaker/woodworking/3.png" />
    <div class="speaker-text">
      <div class="speaker-name">Cliff Chang</div>
      <div class="speaker-team">SK Global Co., Ltd.</div>
    </div>
  </li>
  <li class="woodworking">
    <img src="~/assets/images/speaker/woodworking/4.png" />
    <div class="speaker-text">
      <div class="speaker-name">Shawn Teng</div>
      <div class="speaker-team">Anderson Industrial Corp.</div>
    </div>
  </li>
  <li class="woodworking">
    <img src="~/assets/images/speaker/woodworking/5.png" />
    <div class="speaker-text">
      <div class="speaker-name">Michael Chang</div>
      <div class="speaker-team">Leadermac Machinery Co., Ltd</div>
    </div>
  </li>
</ul>
