<h2>Conference<br/>Program</h2>

<div class="conference-program">
  <div class="program__header bg-main">
    <div class="program__header__date">August 18th, 2021</div>
    <div>Time Zone : Taipei Time</div>
  </div>

  <div class="program">
    <ul>
      <li>
        <p>14:10-14:40</p>
        <p>Smart Manufacturing Technology under the Development of EVs</p>
        <p>Assistant President of HIWIN Technologies Corp.,<br />Wu Wen-Jia</p>
        <img width="135" src="~/assets/images/logos/robotic/1.png" />
      </li>
      <li>
        <p>14:40-15:10</p>
        <p>AI Application in IoV for the Management of Electric Fleet Buses and Freight Trucks</p>
        <p>Chief Officer of DFI Inc., Jarry Chang</p>
        <img width="135" src="~/assets/images/logos/robotic/2.png" />
      </li>
      <li>
        <p>15:10-15:40</p>
        <p>The Big Future for EVs- Key Applications for Smart Manufacturing</p>
        <p>Dr. Scott Huang, Techman Robot</p>
        <img width="135" src="~/assets/images/logos/robotic/11.png" />
      </li>
      <li>
        <p>15:40-16:40</p>
        <p>Panel: Mastering EVs Technology to Build Taiwan’s Next Dominant Industry Chain</p>
        <p>1. Analysis of the current advantages and development and Taiwan’s position in the international industry chain of EVs.<br />2. Opportunities and proposed practices for cooperation with Japan regarding the production of Japanese EVs.<br />3. Discussion of how to precisely predict directions in R&D and organize development strategies from the technical point of view.<br />Host President  Precision Machinery Research Development Center, Lai Yong-Xiang<br /><br />Guest HIWIN Technologies Corp<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DFI Inc.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Techman Robot</p>
      </li>
    </ul>
  </div>
</div>
