<div class="bg-main">
  <div class="event-highlights">
    <div class="event-highlights__main">
      <h2>CURRENT<br />EVENT<br />HIGHLIGHTS</h2>
      <h3>Taiwan Automation<br />Intelligence and Robot Show</h3>

      <div class="description">
        <p><b>Webinar Highlights: </b>Through an interactive virtual factory, the exhibit connects you with top companies that provide robotics and AI solutions for industry needs such as mechanical equipment, industrial engineering, automobile maintenance, aerospace, and more.</p>
        <br/>
        <p><b>Exhibit Highlights: </b>Taiwan’s top robotics industry representatives are invited to speak on future market developments and the latest technology trends. The webinar features in-depth discussions on smart manufacturing, applications of AI and IoV, and the future of the EV industry.</p>
      </div>
    </div>

    <img src="~/assets/images/highlights.png" alt="" />
  </div>
</div>
