<div class="bg-main">
  <h2 class="profile__title">EVENT PROFILE</h2>

  <div class="event-profile">
    <img src="~/assets/images/profile/robotic.png" alt="event profile" />

    <div>
      <p>Taiwan Smart Manufacturing has supported the growth of Taiwan’s machine tools industry for many years providing solutions to numerous brands and production lines. In light of the on-going pandemic, together with our key partners, the 2021 TAIWAN SMART MANUFACTURING PAVILION will take place virtually.</p>
      <p>The PAVILION aims to offer a unique virtual experience of how Taiwan’s machine tools can be your intelligent partner from production to end-market application. The exhibit features the latest technology trends of four main industries: Robot, Carpentry, Machine Tools, and Rubber.</p>
    </div>
  </div>
</div>
