<h2>Exhibitor List</h2>

<div class="logos">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/1.png" />
    </div>
    <div class="logos-item-text">DFI Inc.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/2.png" />
    </div>
    <div class="logos-item-text">HIWIN TECHNOLOGIES CORP.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/3.png" />
    </div>
    <div class="logos-item-text">TECO Electric & Machinery Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/4.png" />
    </div>
    <div class="logos-item-text">Taiwan Tachyon Robot Company</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/5.png" />
    </div>
    <div class="logos-item-text">Delta Electronics, Inc.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/6.png" />
    </div>
    <div class="logos-item-text">WISTRON Corporation</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/7.png" />
    </div>
    <div class="logos-item-text">Compal Electronics, INC.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/8.png" />
    </div>
    <div class="logos-item-text">Ying Han Technology Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/9.png" />
    </div>
    <div class="logos-item-text">EVERMORE MACHINE CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/10.png" />
    </div>
    <div class="logos-item-text">SYNTEC TECHNOLOGY CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/robotic/11.png" />
    </div>
    <div class="logos-item-text">TECHMAN ROBOT INC</div>
  </div>

  <div class="logos-item"></div>
</div>
