<h2>Speaker</h2>

<ul class="speakers">
  <li>
    <img src="~/assets/images/speaker/robot/1.png" />
    <div class="speaker-text">
      <div class="speaker-name">Wu Wen-Jia</div>
      <div class="speaker-team">Assistant President at HIWIN</div>
    </div>
  </li>
  <li>
    <img src="~/assets/images/speaker/robot/2.png" />
    <div class="speaker-text">
      <div class="speaker-name">Jarry Chang</div>
      <div class="speaker-team">Chief Product Officer at DFI Inc.</div>
    </div>
  </li>
  <li>
    <img src="~/assets/images/speaker/robot/3.png" />
    <div class="speaker-text">
      <div class="speaker-name">Scott Huang</div>
      <div class="speaker-team">Chief Operating Officer at Techman Robot</div>
    </div>
  </li>
</ul>
