<h2>Conference<br/>Program</h2>

<div class="conference-program">
  <div class="program__header bg-main">
    <div class="program__header__date">October 22th, 2021</div>
    <div>Time Zone : Taipei Time</div>
  </div>

  <div class="program">
    <ul>
      <li>
        <p>13:55-16:00</p>
        <p>Opening Remarks</p>
        <p>Bureau of Foreign Trade, Ministry of Economic Affairs</p>
      </li>
      <li>
        <p>14:10-14:40</p>
        <p>Trends and Business Opportunities for Lightweight Construction and Parts in Electric Vehicles</p>
        <p>Precision Machinery Research Development Center<br/>President__Tim Lai</p>
        <img width="300" src="~/assets/images/logos/foxtron-soco.png" />
      </li>
      <li>
        <p>14:40-15:10</p>
        <p>From AM to Tier 1：<br/>Successful Business Model in Automotive Lighting Market</p>
        <p>General Manager, TYC Brother Industrial<br/>&lt;TYC：Global Provider of Smart Production Line for EV Lighting&gt;<br/>CEO, Fu Chun Shin Machinery Manufacture (FCS)<br/>&lt;FCS iMF4.0：Smart Solution for EV Production Line by World-leading Injection Molding Machine Manufacturer&gt;</p>
        <img width="328" src="~/assets/images/logos/tyc-fcs.png" />
      </li>
      <li>
        <p>15:10-15:40</p>
        <p>Beyond Excellence：<br/>Gear Reducer System with High Precision and Quiet Operation</p>
        <p>Assistant Vice President,KAFO (Kao Fong Machinery)<br/>&lt;KAFO：Top Provider of High-performance Machine Center for EV Key Components&gt;<br/>Senior Manager, HOTA Industrial<br/>&lt;HOTA Industrial：Leading Brand of EV Gear Reducer Manufacturing&gt;</p>
        <img width="317" src="~/assets/images/logos/kafo-hota.png" />
      </li>
    </ul>
  </div>
</div>
