<h2>Conference<br/>Program</h2>

<div class="conference-program">
  <div class="program__header bg-main">
    <div class="program__header__date">October 22nd, 2021</div>
    <div>Time Zone : Taipei Time</div>
  </div>

  <div class="program">
    <ul>
      <li>
        <p>13:55-16:00</p>
        <p>Opening Remarks</p>
        <p>Tim Lai, President | Precision Machinery Research Development Center (PMC)</p>
      </li>
      <li>
        <p>14:10-14:40</p>
        <p>Trends and Business Opportunities for Lightweight Construction and Parts in Electric Vehicles</p>
        <p>Development, Advantages, and Competitiveness of Taiwan's EV Industry<br/>Tso Chi-Sen, Vice Chairman | Foxtron Vehicle Technologies<br/>Comparison of Tube Processing Technologies Between Electric and Gasoline Vehicles<br/>Kyle Lo, CEO/Managing Director | SOCO Machinery</p>
        <img width="300" src="~/assets/images/logos/foxtron-soco.png" />
      </li>
      <li>
        <p>14:40-15:10</p>
        <p>From AM to Tier 1：<br/>Successful Business Model in Automotive Lighting Market</p>
        <p>TYC：Global Provider of Smart Production Line for EV Lighting<br/>Michael Chen, General Manager | TYC Brother Industrial<br/>FCS iMF4.0 : Smart Solution for EV Production Line by World-leading Injection MoldingMachine Manufacturer<br/>Alan Wang, CEO | Fu Chun Shin Machinery Manufacture (FCS)</p>
        <img width="328" src="~/assets/images/logos/tyc-fcs.png" />
      </li>
      <li>
        <p>15:10-15:40</p>
        <p>Beyond Excellence：<br/>Gear Reducer System with High Precision and Quiet Operation</p>
        <p>HOTA Industrial : Leading Brand of EV Gear Reducer Manufacturing<br/>Morris Wu, Senior Manager | HOTA Industrial<br/>KAFO : Top Provider of High-performance Machine Center for EV Key Components<br/>Yu Yu-Yi, Assistant Vice President | Kao Fong Machinery(KAFO)</p>
        <img width="317" src="~/assets/images/logos/kafo-hota.png" />
      </li>
    </ul>
  </div>
</div>
