<div class="bg-main">
  <h2 class="profile__title">EVENT PROFILE</h2>

  <div class="event-profile">
    <img src="~/assets/images/profile/machinetool.png" alt="event profile" />

    <div>
      <p>Taiwan's machinery and equipment industries rank fifth in global exports. It shows that Taiwan can provide total solutions and be the key partner to world-class electric vehicle manufacturers.<br/>Taiwan Smart Manufacturing - Machine Tool Pavillion will officially open on October 27th.</p>
      <p>We will invite Taiwan’s leading brands to introduce.<br/>we are focusing on providing lithium-ion battery, copper foil, battery cathode material, cooling fan, LED headlights, automotive camera, touch panel, charger, the computer which cover the entire car like automotive Electric System, body, battery, charging, ICE powertrain.</p>
    </div>
  </div>
</div>
