<h2>Exhibitor List</h2>

<div class="logos">
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/1.png" />
    </div>
    <div class="logos-item-text">Campro Precision Machinery Co., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/2.png" />
    </div>
    <div class="logos-item-text">Ching Hung Machinery & Electric Industrial Co.,Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/3.png" />
    </div>
    <div class="logos-item-text">DAHLIH MACHINERY INDUSTRY CO, LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/4.png" />
    </div>
    <div class="logos-item-text">FALCON MACHINE TOOLS CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/5.png" />
    </div>
    <div class="logos-item-text">Factory Automation Tech. Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/6.png" />
    </div>
    <div class="logos-item-text">FAIR FRIEND ENT. CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/7.png" />
    </div>
    <div class="logos-item-text">GOODWAY Machine Corp. </div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/8.png" />
    </div>
    <div class="logos-item-text">KAO FONG MACHINERY CO., LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/9.png" />
    </div>
    <div class="logos-item-text">SHE HONG INDUSTRIAL CO.,LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/10.png" />
    </div>
    <div class="logos-item-text">SOCO Machinery,Co.,Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/11.png" />
    </div>
    <div class="logos-item-text">TAIWAN TAKISAWA TECHNOLOGY CO.,LTD</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/12.png" />
    </div>
    <div class="logos-item-text">Tongtai Machine & Tool Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/13.png" />
    </div>
    <div class="logos-item-text">Victor Taichung Machinery Works Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/14.png" />
    </div>
    <div class="logos-item-text">Yeong Chin Machinery Industries Co., Ltd.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/15.png" />
    </div>
    <div class="logos-item-text">SHIEH YIH MACHINERY INDUSTRY CO., LTD.</div>
  </div>
  <div class="logos-item">
    <div class="logos-item-image">
      <img src="~/assets/images/logos/machinetool/16.png" />
    </div>
    <div class="logos-item-text">YOU JI MACHINE INDUSTRIAL CO., LTD.</div>
  </div>

  <div class="logos-item"></div>
  <div class="logos-item"></div>
</div>
