<h2 class="press__title">Press Conference</h2>
<p class="press__subtitle">【2021 Online Webinar】<br />International Webinar of Business Opportunities<br />for Taiwan Smart Machinery to Support Global Automotive Manufacturers</p>

<div class="press__content bg-main">
  <p>For the past few years, Taiwan has been an important supplier for global electric vehicle manufacturers. Through effective integration of the supply chains of component parts manufacturers and machinery manufacturers, we take pride in providing prominent hardware solutions. The webinar brings together Taiwanese EV manufacturers, leading EV parts manufacturers, and smart machinery manufacturers to introduce the most comprehensive solutions and applications and share their advanced technologies that can help plan and complete your EV production line.</p>
  <p>The webinar invites six Taiwan’s machinery and parts manufacturers that are Tier 1 suppliers for world automobile manufacturers to discuss trends for electric vehicle in the three important subtopics of lightweight construction and parts for electric vehicles, technology and aesthetics in automotive lighting manufacturing, and gear reducer system with high precision and quiet operation.</p>
</div>
