<h2>Speaker</h2>

<ul class="speakers">
  <li class="machinetool">
    <img src="~/assets/images/speaker/machinetool/1.png" />
    <div class="speaker-text">
      <div class="speaker-name">Tso Chi-Sen</div>
      <div class="speaker-team">Vice Chairman, Foxtron Vehicle </div>
    </div>
  </li>
  <li class="machinetool">
    <img src="~/assets/images/speaker/machinetool/2.png" />
    <div class="speaker-text">
      <div class="speaker-name">Kyle Lo</div>
      <div class="speaker-team">CEO/Managing Director, SOCO Machinery</div>
    </div>
  </li>
  <li class="machinetool">
    <img src="~/assets/images/speaker/machinetool/3.png" />
    <div class="speaker-text">
      <div class="speaker-name">Michael Chen</div>
      <div class="speaker-team">General Manager, TYC Brother Industrial</div>
    </div>
  </li>
  <li class="machinetool">
    <img src="~/assets/images/speaker/machinetool/4.png" />
    <div class="speaker-text">
      <div class="speaker-name">Alan Wang</div>
      <div class="speaker-team">CEO, Fu Chun Shin Machinery Manufacture (FCS)</div>
    </div>
  </li>
  <li class="machinetool">
    <img src="~/assets/images/speaker/machinetool/5.png" />
    <div class="speaker-text">
      <div class="speaker-name">Yu Yu-Yi</div>
      <div class="speaker-team">Senior Manager, HOTA Industrial</div>
    </div>
  </li>
</ul>
